<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" href="dist/css/style.css">
</head>
<body>
	

	<div style="background: var(--color-1); block-size: 100px; inline-size: 100px;"></div>
	<div style="background: var(--color-1--hover); block-size: 100px; inline-size: 100px;"></div>
	<div style="background: var(--color-1--background); block-size: 100px; inline-size: 100px;"></div>

	<div style="background: var(--color-2); block-size: 100px; inline-size: 100px;"></div>
	<div style="background: var(--color-2--hover); block-size: 100px; inline-size: 100px;"></div>
	<div style="background: var(--color-2--background); block-size: 100px; inline-size: 100px;"></div>

	<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum minus labore cum temporibus eius distinctio eum voluptatum rem earum quis?</h1>

	<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. In sunt est odit id ad fugiat a necessitatibus esse exercitationem optio!</h2>

	<h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. In sunt est odit id ad fugiat a necessitatibus esse exercitationem optio!</h3>

	<h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. In sunt est odit id ad fugiat a necessitatibus esse exercitationem optio!</h4>
	
	<h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. In sunt est odit id ad fugiat a necessitatibus esse exercitationem optio!</h5>
	
	<h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. In sunt est odit id ad fugiat a necessitatibus esse exercitationem optio!</h6>
	
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae ab facilis molestias fuga suscipit <a href="#">voluptatem</a> exercitationem repudiandae atque omnis similique maxime neque rerum necessitatibus, placeat quibusdam nostrum amet distinctio expedita officia nisi totam obcaecati aut deserunt delectus? Sequi, cupiditate beatae.</p>

</body>
</html>